:root {
  --primary-color: #12a15d;
  --secondary-color: #ffffff;
  --background-color: #f9f9f9;
}

body {
  background-color: var(--background-color);
}
.container {
  background-color: var(--secondary-color);
  border-radius: 10px;
}
button:active {
  outline: none;
  border: nones;
}
button:focus {
  outline: 0;
}

/* HEADER BUTTON STYLE */
.table-header h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  color: #000000;
}
.role,
.all-users,
.add-new-admin {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 6px 0px;
  box-shadow: -4px 8px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
}
.add-new-admin {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

/* TABLE STYLE */

.container {
  min-height: 80vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--secondary-color);
}
.table-body {
  min-height: 70vh;
  overflow: auto;
}
.container .table-body::-webkit-scrollbar {
  display: none;
}
.table > :not(caption) > * > * {
  padding: 20px 30px !important;
}
thead tr th,
tbody tr td {
  color: var(--primary-color);
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
}
tbody tr td {
  color: #969696;
}
tbody tr button.veiw-btn {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 12px;
  padding: 3px 17px;
  margin-bottom: 5px;
  margin-left: 10px;
}
tbody tr button.remove-btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 12px;
  padding: 3px 17px;
}
