.card {
  border: 1px solid #e8e8e8;
  box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.new {
  background-color: #eb5757;
  color: var(--secondary-color);
  border-radius: 20px;
  padding: 0px 8px;
}
.dispute-text {
  color: #eb5757;
}
.fa-arrow-right {
  color: var(--primary-color);
  font-size: 20px;
}
.due-text,
.claim-text {
  color: var(--primary-color);
}
/* MODAL WORK-LIST */
.status-tag {
  background: #f2994a;
  border-radius: 20px;
  text-align: center;
  padding: 4px 12px;
  /* gap: 10px; */
  /* width: 134px; */
  /* height: 25px; */
}
